<div class="jumbotron">
  <h1 class="text-center">About Me<hr></h1>
  <p class="description">
    Hi, I'm Aman. I am a third-year engineering/computer science student at UNSW.
    I have a passion for software development and robotics - a passion which I have developed and built upon through my
    <a (click)="toggleOpen()"><b><u>work and my experience</u></b></a>. Through chasing my passion, I have gained invaluable
    <a [ngx-scroll-to]="'skills'"><b><u>skills</u></b></a> and experiences that have
    furthered my ability to <a [ngx-scroll-to]="'projects'"><b><u>innovate</u></b></a> and find solutions. I enjoy working with others to solve problems and help others.
    I am currently looking for an opportunity to use the skills I have developed, and my passion, to make a meaningful difference
    and deliver value to people through innovation.
    <br>
    <a class="arrow" *ngIf="!isOpen; else closed" (click)="toggleOpen()"><b>Learn more about me</b></a>
    <ng-template #closed>
      <a class="arrow-up" (click)="toggleOpen()"><b>Hide Panels</b></a>
    </ng-template>
  </p>
  <app-about-cards></app-about-cards>
<br>

</div>
