.jumbotron {
  background: url('../../assets/computer1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 95vh;
  border-radius: 0px;
  margin: 0px;
  color: #FFFFFF;
  min-height: 0.9vh;
  border-bottom: 10px solid #FFFFFF;
}

a {
  color: #007bff !important;
}

h1 {
  padding-bottom: 2%;
  font-family: "Mina",sans-serif;
}

b {
  font-family: "Merriweather", sans-serif;
}

hr {
  border-color: #FFFFFF;
}


.description {
  background-color: #FFFFFF;
  font-size: 112%;
  color: #07aaf5;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
  font-family: "Play",sans-serif;
}

.slide-left-right
{
  text-decoration:none;
  display: inline-block;
  color: #FFFFFF;
}
/* add a empty string after the elment with class .slide-left-right */
.slide-left-right:after
{
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
  -webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
  -moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
/* Change the width and background on hover, aka sliding out */
.slide-left-right:hover:after
{
  width: 100%;
  background: #FFFFFF;
}

.arrow {
  background-color: #FFFFFF;
  border: none;
  color: #007bff;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  text-align: right;
}

.arrow {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #FFFFFF;
}

.arrow:after {
  content: '\00a0▼';
  position: inline-block;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.arrow:hover{
  padding-right: 24px;
  padding-left:8px;
}

.arrow:hover:after {
  opacity: 1;
  right: 10px;
}


.arrow-up {
  background-color: #FFFFFF;
  border: none;
  color: #007bff;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  text-align: right;
}

.arrow-up {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #FFFFFF;
}

.arrow-up:after {
  content: '\00a0▲';
  position: inline-block;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.arrow-up:hover{
  padding-right: 24px;
  padding-left:8px;
}

.arrow-up:hover:after {
  opacity: 1;
  right: 10px;
}

app-about-cards {
  width: 100%;
}
