.jumbotron {
  background: url('../../assets/pcb1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  min-height: 95vh;
  margin: 0px;
  border-radius: 0px;
  border-bottom: 10px solid #FFFFFF;
}

h1 {
  color: #FFFFFF;
  font-family: "Mina",sans-serif;
}

p {
  font-family: "Play", sans-serif;
}

h5 {
  font-family: "Cinzel",sans-serif;
  border-bottom: 1px solid #FFFFFF;
}

.card-text {
  font-family: 'Mina', sans-serif;
}

.card {
  border-radius: 0px;
  background-color: rgba(50, 50, 50, 0.9);
  color: #FFFFFF;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.15);
  -webkit-box-shadow: 3px 6px 5px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    3px 6px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow:         3px 6px 5px 6px rgba(0, 0, 0, 0.4);
}

.icon {
  padding-top: 3%;
}

hr {
  border-color: #FFFFFF;
}

.card-text > b {
  font-weight: bolder;
  font-size: 110%;
}

.right {
  border-left: 5px solid #FFFFFF;
}

.left {
  border-right: 5px solid #FFFFFF;
}
