<div class="jumbotron dashboard">
  <h1 class="text-center">Projects<hr></h1>

  <div class="card-deck">
    <div class="card">
      <div class="text-center icon">
        <i class="fab fa-connectdevelop fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Web Crawler & Language Processor</h5>
        <p class="card-text">
          I wrote a program to navigate through HCF’s live sites and content management platform.
          The script was used to <b>test links and check the spelling on over 400 websites</b>.
          The script was also <b>adapted to use natural language processing methods</b> to determine the SEO content for over 300 websites,
          which would otherwise take many hours of manual searching, reading and typing.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="text-center icon">
        <i class="fas fa-star fa-7x"></i><i class="fas fa-star fa-7x"></i><i class="fas fa-star-half fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Survey System</h5>
        <p class="card-text">
          A group project in which we created a survey system.
          We created a survey system utilising Python, JavaScript, SQL and HTML.
          We used an object-oriented programming style and an agile software development cycle.
          We evolved our system over 3 sprints, with the specification of the project changing in between sprints.
          As group leader, <b>I designed the database and the database API</b> by utilising UML and ER diagrams.
          Furthermore, I worked on <b>user authentication and security</b>.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <div class="text-center icon">
        <i class="fas fa-home fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Smart Home System</h5>
        <p class="card-text">
          A group project in which we created a smart home system.
          I created a <b>functional webpage and the API for the micro-controller</b> to interface with the webpage.
          I also worked on the micro-controller logic to monitor the smart home.
          We had to consider financial, environmental and safety factors, and we designed the project to be easy to use and easy to install.
          I achieved a High Distinction for this course.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="text-center icon">
        <i class="fas fa-gamepad fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Game and AI Player</h5>
        <p class="card-text">
          A group project where we created a game in C to given specifications.
          As a team we planned out the interface and architecture of the game.
          We then, individually created 2 different AI players to play the game against other teams.
          This involved <b>otimising our algorithms for depth-first search</b> to traverse the game map quickly
          and create a 'probability cloud' of other players' location.
          The player I created ranked in the <b>top 10 out of 150 teams</b>.
          I achieved a high distinction in this course.
        </p>
      </div>
    </div>
  </div>
</div>
