<div class="card-deck">
  <div class="card">
    <div class="text-center icon">
      <i class="fas fa-briefcase fa-7x"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Experience</h5>
      <p class="card-text">
        <i class="fas fa-briefcase fa-xs"></i>
        <b>IBM</b>
        <br>Software Developer Intern
        <br>Feb 2018 - Now
      </p>
      <p class="card-text">
        <i class="fas fa-briefcase fa-xs"></i>
        <b>HCF</b>
        <br>Content Developer
        <br>Jul 2017 - Nov 2017
      </p>
      <p class="card-text">
        <i class="fas fa-briefcase fa-xs"></i>
        <b>CSOne Academy</b>
        <br>Teacher/Assistant
        <br>Jul 2016 - Jan 2018
      </p>
    </div>
  </div>
  <div class="card">
    <div class="text-center icon">
      <i class="fas fa-graduation-cap fa-7x"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Education</h5>
      <p class="card-text">
        <i class="fas fa-graduation-cap fa-xs"></i>
        <b>UNSW</b>
        <br>2016 - 2020
      </p>
      <p class="card-text">
        Bachelors of Engineering (Mechatronics) / Computer Science (Artificial Intelligence)
      </p>
      <p>
         High Distinction Average
      </p>
      <p class="card-text">
        <i class="fas fa-graduation-cap fa-xs"></i>
        <b>Udemy</b>
        <br>2017
      </p>
      <p class="card-text">
        Online course on Machine Learning in Python
      </p>
    </div>
  </div>
  <div class="card">
    <div class="text-center icon">
      <i class="fas fa-street-view fa-7x"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Extracurriculars</h5>
      <p class="card-text">
        <i class="fas fa-street-view fa-xs"></i>
        <b>President</b>
        <br>UNSW Mechatronics Society
        <br>Sep 2017 - now
      </p>
      <p class="card-text">
        <i class="fas fa-street-view fa-xs"></i>
        <b>2nd Year Representative</b>
        <br>UNSW Mechatronics Society
        <br> Sep 2016 - Sep 2017
      </p>
    </div>
  </div>
</div>
