<div class="jumbotron">
  <div class="intro">
    <div class="text">
      <h1 class="text-center">Skills<hr></h1>
    </div>
  </div>

  <div class="card-group skill-panel">
    <div class="card">
      <i class="fas fa-terminal fa-7x center"></i>
      <br>
      <p>Technical Skills</p>
      <ul>

        <li>High proficiency with C/C++</li>
        <li>High proficiency with Python</li>
        <li>Experience with database design</li>
        <li>Strong experience in automated UI and API testing</li>
        <li>Familiarity with Matlab</li>
        <li>Familiarity with Linux</li>
        <li>Familiarity with JavaScript (JQuery, Angular and TypeScript)</li>
        <li>Familiarity with Java</li>
        <li>Experience using SolidWorks to generate CAD designs</li>
      </ul>
    </div>
    <div class="card">
      <i class="fas fa-users fa-7x center"></i>
      <br>
      <p>Soft skills</p>
      <ul>
        <li>Strong ability find creative solutions and think outside the box</li>
        <li>Able to lead and delegate tasks effectively</li>
        <li>Able to organise and prioritise tasks efficiently</li>
        <li>Able to communicate and work with other staff and stakholders</li>
        <li>Able to organise and lead meetings with stakeholders</li>
        <li>Experience working in an Agile team environment</li>
      </ul>
    </div>
  </div>
</div>
