<div class="jumbotron">
  <div class="intro">
    <div class="text">
      <h1 class="text-center">Skills<hr></h1>
    </div>
  </div>

  <div class="card-group skill-panel">
    <div class="card left">
      <i class="fas fa-terminal fa-7x center"></i>
      <br>
      <h5><u>Technical Skills</u></h5>
      <ul>

        <li><i class="fas fa-pencil-alt"></i>&emsp; High proficiency with C/C++</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; High proficiency with Python</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Experience with database design</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Strong experience in automated UI and API testing</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Familiarity with Matlab</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Familiarity with Linux</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Familiarity with JavaScript (JQuery, Angular and TypeScript)</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Familiarity with Java</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp; Experience using SolidWorks to generate CAD designs</li>
      </ul>
    </div>
    <div class="card right">
      <i class="fas fa-users fa-7x center"></i>
      <br>
      <h5><u>Soft skills</u></h5>
      <ul>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Strong ability find creative solutions and think outside the box</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Able to lead and delegate tasks effectively</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Able to organise and prioritise tasks efficiently</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Able to communicate and work with other staff and stakholders</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Able to organise and lead meetings with stakeholders</li>
        <li><i class="fas fa-pencil-alt"></i>&emsp;Experience working in an Agile team environment</li>
      </ul>
    </div>
  </div>
</div>
