nav {
  background-color: transparent;
  border-color:transparent;
	background-image:none;
	box-shadow:none;
  color: #FFFFFF;
  font-family: 'neue', Helvetica, Arial, sans-serif;
}

.navbar-dark:hover .nav-link:hover .navbar-nav:hover {
  color: rgba(255,255,255,1) !important;
}

right {
  text-align: right;
  margin-right: 0px !important;
}

.slide-left-right
{
text-decoration:none;
display: inline-block;
color: #FFFFFF;
}
/* add a empty string after the elment with class .slide-left-right */
.slide-left-right:after
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
-webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
-moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
/* Change the width and background on hover, aka sliding out */
.slide-left-right:hover:after
{
width: 100%;
background: #FFFFFF;
}
