<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand slide-left-right" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link slide-left-right" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link slide-left-right" href="#about-me">About me</a>
      <a class="nav-item nav-link slide-left-right" href="#projects">Projects</a>
      <a class="nav-item nav-link slide-left-right" href="#skills">Skills</a>
    </div>
  </div>
  <div class="collapse navbar-collapse justify-content-end">
    <div class="navbar-nav right">
      <div class="navbar-brand">
        <a href="#" class="slide-left-right">
          <i class="fas fa-envelope fa-2x"></i>
        </a>
      </div>
      <div class="navbar-brand">
        <a href="#" class="slide-left-right">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </div>
      <div class="navbar-brand">
        <a href="#" class="slide-left-right">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
      <div class="navbar-brand">
        <a href="#" class="slide-left-right">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

  <app-dashboard></app-dashboard>
  <app-about-me name="about-me"></app-about-me>
  <app-projects></app-projects>
  <app-skills></app-skills>

  <app-footer></app-footer>
